<footer id="footer">
    <span>&copy; 2024 Tous droits réservés. CPAM VAL-DE-MARNE (94)</span>

    <a href= "{{ path('release_notes') }}">
        <button id="versionBtn" title="Version">1.0.1</button>
    </a>
</footer>

